@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 32px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion .accordion_item .data
    {
        padding-right: 24px;
    }



    /*--------------
        ButtonUp
    --------------*/
    .buttonUp
    {
        display: none !important;
    }



    /*------------
        Header
    ------------*/
    header .logo
    {
        width: 160px;
        margin-top: -6px;
        margin-bottom: 0;
    }

    header .logo img
    {
        height: 72px;
        margin: -10px;
    }


    header .data
    {
        width: calc(100% - 192px);
        padding-top: 0;
    }


    header .partner_btn
    {
        width: 164px;
    }


    header .menu
    {
        width: calc(100% + 192px);
        margin-top: 20px;
        margin-left: -192px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/
    .block_head .tabs
    {
        width: calc(100% + 12px);
        margin-bottom: -8px;
        margin-left: -12px;
    }

    .block_head .tabs button,
    .block_head .tabs button + button
    {
        margin-bottom: 8px;
        margin-left: 12px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of3
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .bottom .agree
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 16px;
    }


    .form .submit_btn
    {
        width: 100%;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .slider .title
    {
        font-size: 26px;
    }


    .text_block .cols .col
    {
        width: 100%;
    }

    .text_block .cols .col + .col
    {
        margin-top: 24px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider
    {
        background: none;
    }


    .main_slider .swiper-container
    {
        padding: 0 24px;
    }

    .main_slider .slide
    {
        border-radius: 6px;
    }


    .main_slider .slide .cont
    {
        min-height: 0;
        padding-bottom: 0;
    }


    .main_slider .slide .info
    {
        display: none;

        width: 240px;
    }

    .main_slider .slide .title
    {
        font-size: 34px;
        line-height: 40px;
    }

    .main_slider .slide .desc
    {
        font-size: 15px;
        line-height: 23px;
    }


    .main_slider .slide .image
    {
        display: none;

        width: 100%;
    }

    .main_slider .slide .image img
    {
        position: absolute;
        left: 80px;

        max-width: none;
        max-height: 280px;
    }


    .main_slider .slide .mob_image
    {
        display: block;
    }


    .main_slider .swiper-container .arrows,
    .main_slider .count
    {
        display: none;
    }


    .main_slider .swiper-container-horizontal > .swiper-pagination-bullets,
    .main_slider .swiper-pagination-custom,
    .main_slider .swiper-pagination-fraction
    {
        bottom: 28px;
        left: 24px;

        display: none;
    }



    /*------------
        Why we
    ------------*/
    .why_we .image
    {
        width: 100%;
        margin-bottom: 28px;
        padding-bottom: 65%;
    }


    .why_we .data
    {
        width: 100%;
    }


    .why_we .swiper-container
    {
        padding-bottom: 24px;
    }



    /*----------------------
        Bloggers reviews
    ----------------------*/
    .bloggers_reviews .row > *
    {
        width: calc(50% - 16px);
    }



    /*------------
        Videos
    ------------*/
    .videos .row > *
    {
        width: calc(100% - 16px);
    }



    /*-----------
        Stats
    -----------*/
    .stats .data .row > *
    {
        width: calc(50% - 24px);
    }


    .stats .data .item .val
    {
        font-size: 34px;
    }



    /*------------------
        Already here
    ------------------*/

    .already_here .arrows
    {
        top: -68px;
    }



    /*---------------
        Instagram
    ---------------*/
    .instagram .block_head .title a
    {
        width: 100%;
        margin-left: 0;
    }


    .instagram .row > *
    {
        width: calc(50% - 16px);
    }



    /*------------
        Filter
    ------------*/
    .filter .cont > .row
    {
        margin-bottom: -16px;
        margin-left: 0;
    }

    .filter .cont > .row > *
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 16px;
        margin-left: 0;
    }

    .filter .cont > .row > *.type
    {
        margin-bottom: 8px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .head
    {
        margin-bottom: 24px;
        padding-top: 0;
    }

    .category_info .head .name
    {
        font-size: 24px;
        line-height: 30px;

        width: calc(100% + 24px);
        max-width: calc(100% + 24px);
        min-height: 0;
        margin-right: -24px;
        padding: 16px 24px 16px 0;
    }


    .category_info .head .desc
    {
        width: 100%;
        margin-top: 20px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .section
    {
        padding: 24px;
    }


    .contacts_info .section .title
    {
        font-size: 20px;
        line-height: 24px;
    }


    .contacts_info .section .item .name,
    .contacts_info .section .item .val
    {
        font-size: 16px;
        line-height: 24px;
    }

    .contacts_info .section .item .manager
    {
        width: 176px;
        padding-right: 16px;
    }

    .contacts_info .section .item .manager + .email
    {
        width: calc(100% - 176px);
    }


    .contacts_info .section.map_wrap
    {
        height: 400px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images .stickers
    {
        display: none;
    }


    .product_info .images .big .slide a
    {
        width: 100%;
        padding-bottom: 90%;
    }


    .product_info .data .product_name
    {
        font-size: 26px;
        line-height: 32px;
    }


    .product_info .data .get_price
    {
        margin-top: 12px;
    }

    .product_info .data .get_price .btn
    {
        width: 100%;
    }

    .product_info .data .get_price .exp
    {
        display: none;
    }


    .product_info .data .btns
    {
        margin-top: 12px;
    }

    .product_info .data .btns .btn
    {
        font-size: 16px;
    }

    .product_info .data .btns .btn span
    {
        display: flex;

        height: 54px;
        padding: 8px 8px 6px;

        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .section
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 24px;
    }


    .product_data .row > *.clear
    {
        margin: 0;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages.bg_white
    {
        padding: 24px 0;

        background: none;
    }


    .advantages .data
    {
        padding: 0;

        border-radius: 0;
        background: none;
    }


    .advantages .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .advantages .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .advantages .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .advantages .row > *
    {
        display: inline-block;

        width: 266px;
        max-width: none;
        min-height: 180px;
        margin: 0;
        padding: 20px;

        vertical-align: top;
        white-space: normal;

        border-radius: 6px;
        background: #fff;
    }

    .advantages .row > * + *
    {
        margin-left: 12px;
    }


    .advantages .item
    {
        font-size: 14px;
        line-height: 20px;

        position: relative;
    }


    .advantages .item .icon
    {
        position: absolute;
        top: 20px;
        left: 20px;

        width: 64px;
        height: 64px;
        margin: 0;
    }

    .advantages .item .name
    {
        font-size: 16px;

        display: flex;

        min-height: 64px;
        margin-bottom: 16px;
        padding-left: 81px;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }



    /*--------------------
        Get price list
    --------------------*/
    .get_price_list .data > .title
    {
        font-size: 28px;
        line-height: 34px;
    }



    /*-------------------
        Partners head
    -------------------*/
    .partners_head
    {
        padding: 60px 0 88px;
    }


    .partners_head .data
    {
        width: 100%;
    }


    .partners_head .title
    {
        font-size: 38px;
        line-height: 46px;
    }


    .partners_head .btn
    {
        padding: 8px 32px;
    }


    .partners_head .big_title
    {
        font-size: 60px;
        line-height: 40px;
    }


    .partners_head .img
    {
        width: auto;
        min-width: 200px;
    }



    /*------------------
        Partners why
    ------------------*/
    .partners_why
    {
        padding: 60px 0;
    }


    .partners_why .block_title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 40px;
    }


    .partners_why .block_title div:before,
    .partners_why .block_title div:after
    {
        width: 26px;
        height: 26px;
    }


    .partners_why .row
    {
        margin-left: 0;
    }

    .partners_why .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .partners_why .item
    {
        font-size: 15px;

        padding-left: 48px;
    }

    .partners_why .item .number:before
    {
        font-size: 48px;
        line-height: 100%;

        top: 0;
    }

    .partners_why .item .name
    {
        font-size: 20px;
        line-height: 26px;
    }



    /*--------------------------
        Production warehouse
    --------------------------*/
    .production_warehouse
    {
        padding: 60px 0;
    }


    .production_warehouse .block_title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 40px;
    }


    .production_warehouse .block_title div:before,
    .production_warehouse .block_title div:after
    {
        width: 26px;
        height: 26px;
    }


    .production_warehouse .image
    {
        width: 100%;
        margin: -24px 0 24px;
    }


    .production_warehouse .data
    {
        width: 100%;
    }


    .production_warehouse .item .val,
    .production_warehouse .item .val.big_h
    {
        font-size: 28px;
        line-height: 36px;
    }

    .production_warehouse .item .val span + span
    {
        margin-left: 28px;
    }


    .production_warehouse .item .desc
    {
        font-size: 16px;
    }



    /*---------------------
        Partners schema
    ---------------------*/
    .partners_schema
    {
        padding: 60px 0;
    }


    .partners_schema .block_title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 40px;
    }


    .partners_schema .block_title div:before,
    .partners_schema .block_title div:after
    {
        width: 26px;
        height: 26px;
    }


    .partners_schema .schema
    {
        height: 440px;
    }


    .partners_schema .item
    {
        font-size: 15px;
        line-height: 21px;
    }

    .partners_schema .item:after
    {
        transform: scale(.6) rotate(30.33deg);
    }

    .partners_schema .item1:after
    {
        top: 0;

        margin-left: 0;

        transform: scale(.6) rotate(30.33deg);
    }


    .partners_schema .item2:after
    {
        bottom: -84px;

        margin-left: -66px;

        transform: scale(.6) rotate(101.68deg);
    }


    .partners_schema .item3
    {
        top: 260px;
    }

    .partners_schema .item3:after
    {
        bottom: -48px;

        margin-right: -12px;

        transform: scale(.6) rotate(-180deg);
    }


    .partners_schema .item4:after
    {
        top: 20px;

        margin-right: 0;

        transform: scale(.6) rotate(-149.67deg);
    }


    .partners_schema .item5
    {
        top: 260px;
    }

    .partners_schema .item5:after
    {
        margin-right: -66px;
        margin-bottom: -24px;

        transform: scale(.6) rotate(-78.32deg);
    }


    .partners_schema .item .number
    {
        font-size: 48px;
        line-height: 56px;
    }


    .partners_schema .img1,
    .partners_schema .img2,
    .partners_schema .img3
    {
        width: 120px;
    }


    .partners_schema .bg
    {
        width: 200%;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .managers .row > *
    {
        width: calc(50% - 24px);
    }



    /*--------------------
        Partners order
    --------------------*/
    .partners_order .info
    {
        width: 100%;
    }


    .partners_order .title
    {
        font-size: 32px;
        line-height: 40px;
    }


    .partners_order .desc
    {
        font-size: 16px;
        line-height: 24px;

        margin-top: 20px;
    }

    .partners_order .desc br
    {
        display: none;
    }


    .partners_order .img
    {
        top: -40px;

        width: 240px;
    }


    .partners_order .form .line
    {
        margin-bottom: 12px;
    }


    .partners_order .form .submit_btn
    {
        width: 100%;
    }


    .partners_order .form .agree
    {
        width: 100%;
        margin-top: 8px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-left: 0;
    }

    .articles .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .articles .article .name
    {
        font-size: 18px;
    }



    /*-------------
        Prizzes
    -------------*/
    .prizzes
    {
        padding-top: 52px;
    }


    .prizzes .block_title
    {
        margin-bottom: 32px;
    }

    .prizzes .block_title img
    {
        width: 324px;
    }


    .prizzes .draw_conditions
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 40px 60px;

        background: url(../images/mob_bg_prizzes_draw_conditions.png) 50%/100% 100% no-repeat;
    }


    .prizzes .draw_conditions .data .title
    {
        font-size: 32px;
        line-height: 100%;

        width: 188px;
        margin: 0 auto;
    }


    .prizzes .draw_conditions .data .desc
    {
        font-size: 18px;
        line-height: 24px;
    }


    .prizzes .draw_conditions .form
    {
        margin: 0 auto;
    }

    .prizzes .draw_conditions .form .title
    {
        display: none;
    }



    .prizzes .prize_fund .title img
    {
        width: 280px;
    }


    .prizzes .prize_fund .place .info1:before
    {
        left: 20px;

        width: 424px;
        height: 376px;
    }

    .prizzes .prize_fund .place .info2:before
    {
        width: 376px;
        height: 360px;
    }

    .prizzes .prize_fund .place .info3:before
    {
        width: 388px;
        height: 344px;
    }


    .prizzes .prize_fund .place .thumb,
    .prizzes .prize_fund .place .info3 .thumb
    {
        height: 256px;
    }

    .prizzes .prize_fund .place .thumb img
    {
        transform: translateX(-50%) scale(.7);
    }


    .prizzes .prize_fund .place .name
    {
        font-size: 24px;
        line-height: 28px;
    }



    .prizzes .bottom_text
    {
        font-size: 17px;

        padding: 24px 24px 64px;
    }



    .prizzes .join
    {
        padding: 64px 96px 32px;
    }


    .prizzes .join .btn
    {
        font-size: 15px;
        line-height: 19px;

        padding: 12px 24px;
    }

    .prizzes .join .btn:before,
    .prizzes .join .btn:after
    {
        bottom: -20px;

        width: 72px;
        height: 52px;
        margin-right: 12px;
    }

    .prizzes .join .btn:after
    {
        margin-left: 12px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding-bottom: 40px;
    }


    .about_head .block_title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 32px;
    }


    .about_head .block_title div:before,
    .about_head .block_title div:after
    {
        width: 26px;
        height: 26px;
    }


    .about_head .text_block
    {
        width: 100%;
    }


    .about_head .img
    {
        position: relative;
        bottom: 0;

        width: 360px;
        margin: 40px auto 0;
    }



    /*-------------------
        Brand founded
    -------------------*/
    .brand_founded .data
    {
        padding: 28px;
    }


    .brand_founded .more .pre_title
    {
        font-size: 24px;
    }


    .brand_founded .more .title
    {
        font-size: 26px;
    }

    .brand_founded .more .title span
    {
        font-size: 56px;
        line-height: 50px;
    }



    /*-----------
        We do
    -----------*/
    .we_do
    {
        padding: 132px 0 52px;
    }


    .we_do .data
    {
        width: 79%;
    }


    .we_do .block_head .title
    {
        font-size: 28px;
    }


    .we_do .sub_title
    {
        font-size: 18px;
    }


    .we_do .text_block
    {
        font-size: 16px;
    }


    .we_do .bg
    {
        object-position: 75% 50%;
    }



    /*---------------
        Easy find
    ---------------*/
    .easy_find .data
    {
        padding: 28px 28px 260px;
    }


    .easy_find .img
    {
        height: 248px;
    }



    /*------------------
        Achievements
    ------------------*/
    .achievements .data
    {
        width: 100%;
    }


    .achievements .item img
    {
        max-width: 140px;
        max-height: 80px;
    }


    .achievements .image
    {
        display: none;
    }



    /*----------
        Team
    ----------*/
    .team .head
    {
        margin-bottom: 40px;
    }


    .team .head .text_block
    {
        padding: 28px;
    }


    .team .row > *
    {
        width: calc(50% - 20px);
    }



    /*--------------
        Products
    --------------*/
    .products .row.default
    {
        margin-bottom: -6px;
        margin-left: -6px;

        --products_count: 2;
    }

    .products .row.default > *
    {
        width: calc(50% - 6px);
        margin-bottom: 6px;
        margin-left: 6px;
    }


    .products .row.default .product .articul
    {
        font-weight: 400;

        position: relative;
        top: 0;
        right: 0;

        margin-bottom: 11px;
    }

    .products .row.default .product .price .unit
    {
        font-size: 13px;
        line-height: 130%;

        width: 100%;
        margin-top: 4px;

        order: 4;
    }


    .products .row.default ~ .arrows
    {
        display: none;
    }


    .products .swiper-container .slide
    {
        width: 260px;
    }


    .products .product
    {
        border: 1px solid #f2f2f2;
        background: #fff;
    }


    .products .product .articul
    {
        right: 16px;
    }


    .products .product .info
    {
        display: flex;
        flex-direction: column;
    }


    .products .product .price
    {
        order: 2;
    }


    .products .product .name
    {
        margin-top: 0;
        margin-bottom: 16px;
    }


    .products .product .desc
    {
        display: none;
    }



    /*------------
        Footer
    ------------*/
    footer .contacts
    {
        width: 100%;
        margin-top: 32px;
    }


    footer .bottom .links
    {
        width: 100%;
        margin-top: 12px;

        justify-content: center;
    }


    footer .creator
    {
        display: flex;

        width: 100%;
        margin-top: 12px;

        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}
